#テキストファイルは無視
#*txt

#git cloneで取得したもの
rsj_robot_test/
rsj_seminar_navigation/
sample_nodelet/
ypspur_ros/
yp-spur/
measure_message_passing/
realsense-ros-2.2.9/

#勉強のために作成しただけのもの
ros_param_test/
using_markers/

#gitで保管しても意味がないもの
#CMakeFiles/

#他のPCだとmakeできない
~/catkin_ws/src/my_tutorials/
