<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find icart_description)/config/controller_second.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner_second" pkg="controller_manager"
  type="spawner" ns="icart_second" output="screen"
  args="joint_state_controller
     diff_drive_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher_second" pkg="robot_state_publisher"
  type="robot_state_publisher" respawn="false" output="screen" ns="/icart_second">
       <remap from="robot_description" to="robot_description_second" />
  </node>

</launch>
