<launch>
  <arg name="model" default="$(find icart_description)/urdf/icart.urdf"/>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="rvizconfig" default="$(find icart_description)/urdf_gazebo.rviz"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
    </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

<!--
  <group ns = "robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find icart_description)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>

  <group ns = "robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find icart_description)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y -1 -z 0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>
-->

  <include file="$(find icart_description)/launch/control.launch"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model icart -param robot_description"/>

    <!--to_odom-->
    <node pkg="tf" type="static_transform_publisher" name="world_to_icart" args="0.16 0 0 0 0 0 world odom 100" respawn="true"/>

    <!--offset位置の出力-->
    <node pkg="tf" type="static_transform_publisher" name="offset_publisher" args="-0.16 0 0 0 0 0 base_footprint base_link_offset 10" respawn="true"/>

    <!--rvizの表示-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>
