<launch>
  <!--機体の座標系を出力-->
  <!--<node pkg="i_cart_tf" name="offset_tf_broadcast" type="offset_tf_broadcast"/>-->
  <node pkg="tf" type="static_transform_publisher" name="offset" args="-0.16 0 0 0 0 0 base_link offset_base_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="world" args="1 0 0 0 0 0 world odom 100" />

  <!-- scanデータをpointcloudにしてオフセット位置まで座標変換を行う．そしてpointcloud2の型に変換する-->
  <node pkg="laser_tf" name="laser_to_pointcloud" type="laser_to_pointcloud"/>
  <node pkg="laser_tf" name="pointcloud_trans_to_offset" type="pointcloud_trans_to_offset"/>
  <node pkg="laser_tf" name="pointcloud_to_pointcloud2" type="pointcloud_to_pointcloud2"/>

  <node pkg="pointcloud_to_laserscan" name="pointcloud_to_laserscan_node" type="pointcloud_to_laserscan_node">
    <remap from="cloud_in" to="cloud2_offset"/>
    <remap from="scan" to="scan_offset"/>

    <rosparam>
      min_height: 0.0
      max_height: 0.0

      angle_min: -1.5708
      angle_max: 1.5708
      angle_increment: 0.0005
      scan_time: 0.1
      range_min: 0.001
      range_max: 4.0
      use_inf: true

      concurrency_level: 1
    </rosparam>

  </node>

</launch>
