<launch>
  <!--機体の座標系を出力-->
  <node pkg="i_cart_tf" name="offset_tf_broadcast" type="offset_tf_broadcast"/>

	<!-- $ rosrun nodelet nodelet manager __name:=lase_tf_nodelet_manager -->
	<node pkg="nodelet" type="nodelet" args="manager"
    name="lase_tf_nodelet_manager" output="screen" />

  <!-- $ rosrun nodelet nodelet load laser_tf/laser_to_pointcloud_nodelet lase_tf_nodelet_manager-->
	<node pkg="nodelet" type="nodelet" args="load laser_tf/laser_to_pointcloud_nodelet lase_tf_nodelet_manager"
    name="laser_to_pointcloud_manager" output="screen">
	</node>

	<!-- $ rosrun nodelet nodelet load laser_tf/pointcloud_trans_to_offset_nodelet lase_tf_nodelet_manager-->
	<node pkg="nodelet" type="nodelet" args="load laser_tf/pointcloud_trans_to_offset_nodelet lase_tf_nodelet_manager"
    name="pointcloud_trans_to_offset_manager" output="screen">
	</node>

  <!-- $ rosrun nodelet nodelet load laser_tf/pointcloud_to_pointcloud2_nodelet lase_tf_nodelet_manager-->
	<node pkg="nodelet" type="nodelet" args="load laser_tf/pointcloud_to_pointcloud2_nodelet lase_tf_nodelet_manager"
    name="pointcloud_to_pointcloud2_manager" output="screen">
	</node>

  <!-- $ rosrun nodelet nodelet load laser_tf/pointcloud_to_pointcloud2_nodelet lase_tf_nodelet_manager-->
	<node pkg="nodelet" type="nodelet" args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet lase_tf_nodelet_manager"
    name="pointcloud_to_laserscan_manager" output="screen">
    <remap from="cloud_in" to="cloud2_offset"/>
    <remap from="scan" to="scan_offset"/>

    <rosparam>
      min_height: 0.0
      max_height: 0.0

      angle_min: -1.5708
      angle_max: 1.5708
      angle_increment: 0.0005
      scan_time: 0.1
      range_min: 0.001
      range_max: 4.0
      use_inf: true

      concurrency_level: 1
    </rosparam>
	</node>
</launch>
